@import "vars";

.container {
  width: 1400px;
  margin: 0 auto;
}

strong {
  font-weight: 700;
}

h2 {
  font-size: $h2;
  line-height: 1.25;
  margin-bottom: 30px;
}

.visual__video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.visual__txt {
  position: absolute;
  color: #fff;
  bottom: 200px;
  left: 50px;
  font-size: 20px;

  h3 {
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 50px;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.25);
  }

  p {
    margin-bottom: 30px;
  }
}

.section {
  padding: 100px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.about .about__txt p {
  font-size: 18px;
  margin-bottom: 50px;
}

.btn {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  padding: 20px;
  border: 1px solid $blue;
  color: $blue;
  border-radius: 5px;
  transition: all 0.25s ease;

  &.btn:not(.btn--fixed):hover {
    background-color: $blue;
    color: #fff;

    span {
      transform: translate(10px);
    }
  }

  &--white {
    border-color: #fff;
    color: #fff;
  }

  &--round {
    border-radius: 100px;
  }

  span {
    transition: transform 0.25s ease;
  }
}

.about {
  &__img {
    width: 50%;

    img {
      width: 100%;
    }
  }
}

.products {
  background-color: $gray;

  .container {
    flex-direction: column;
  }

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p {
      font-size: 20px;
    }
  }

  &-banner {
    display: flex;
    justify-content: space-between;

    a {
      width: 50%;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      width: calc(50% - 18px);

      img {
        width: 100%;
        height: 480px;
        object-fit: cover;
      }

      .btn {
        position: absolute;
        right: 30px;
        bottom: 30px;
        background-color: rgba(255, 255, 255, 0.3);
        color: #fff;
        font-size: 64px;
        border: none;
        transition: all 0.25s ease;
      }

      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.25s ease;
      }

      &:hover {
        &:before {
          background-color: rgba(0, 0, 0, 0.5);
        }

        .btn {
          background-color: rgba(255, 255, 255, 0.6);
          transform: rotate(90deg);
        }
      }
    }

    &__title {
      position: absolute;
      color: #fff;
      top: 30px;
      left: 30px;
      font-size: 20px;

      h3 {
        font-size: $h2;
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
  }
}

.banner {
  background: rgb(17, 67, 131);
  background: linear-gradient(
    280deg,
    rgba(17, 67, 131, 1) 0%,
    rgba(61, 111, 248, 1) 55%
  );

  h2 {
    font-size: 28px;
    margin-bottom: 0;
    color: #fff;
  }
}

.tech {
  .container {
    flex-direction: column;
  }

  &-title {
    margin-bottom: 15px;
    width: 100%;

    h3 {
      display: flex;
      justify-content: flex-start;
    }
  }
  &-row {
    display: flex;
    gap: 20px;

    .tech-item {
      width: 33.33%;

      > p {
        font-size: 23px;
        margin-bottom: 40px;
      }
    }
  }

  &-banner {
    a {
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      display: block;

      .btn {
        position: absolute;
        right: 30px;
        bottom: 30px;
        color: #fff;
        font-size: 64px;
        background-color: rgba(255, 255, 255, 0.3);
        border: none;
        transition: all 0.25s ease;
      }

      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.25s ease;
      }

      &:hover {
        &:before {
          background-color: rgba(0, 0, 0, 0.5);
        }

        .btn {
          background-color: rgba(255, 255, 255, 0.6);
          transform: rotate(90deg);
        }
      }
    }

    &__title {
      position: absolute;
      color: #fff;
      top: 30px;
      left: 30px;
      right: 30px;

      h3 {
        font-size: $h3;
        margin-bottom: 30px;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.investors {
  background-image: url(../images/main/main-investors.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;

  .container {
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
  }

  &__list {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 25%;
      filter: grayscale(1);
      transition: filter 0.5s ease;

      &:hover {
        filter: grayscale(0);
      }
    }
  }
}

.news {
  overflow: hidden;

  .container {
    flex-direction: column;
    align-items: start;
  }

  &-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }

  &-banner {
    position: relative;
    width: 100%;

    .btn {
      position: absolute;
      top: 50%;
      transform: translateY(-70px);
      border: none;
      background-color: rgba(255, 255, 255, 0);
      color: rgba(1, 1, 1, 0);
      transition: all 0.5s ease;

      &--prev {
        left: -50px;
        z-index: 2;
      }

      &--next {
        right: -50px;
        z-index: 2;
      }
    }

    &:hover {
      .btn {
        background-color: rgba(255, 255, 255, 1);
        color: rgba(1, 1, 1, 1);
        box-shadow: 3px 3px 3px rgba(1, 1, 1, 0.3);
      }
    }
  }

  &__img {
    position: relative;
    border-radius: 15px;
    overflow: hidden;

    img {
      width: 100%;
    }

    .sticker {
      position: absolute;
      left: 20px;
      top: 20px;
      color: #fff;
      background-color: $red;
      padding: 10px;
    }
  }

  &__txt {
    h3 {
      font-size: 24px;
      font-weight: 700;
      margin: 20px 0;
    }
  }
}
