<!DOCTYPE html>
<html lang="en"
    xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{/layout/layout.html}">
<head>
    <title>BOARD LIST</title>
</head>
<body>
    <div class="container" id="contents" layout:fragment="contents">
        <h2>LIST</h2>
        <table class="table table-striped">
            <colgroup>
                <col style="width: 100px">
                <col>
                <col style="width: 200px">
                <col style="width: 200px">
                <col style="width: 50px">
            </colgroup>
            <thead>
              <tr>
                <th scope="col">NO</th>
                <th scope="col">SUBJECT</th>
                <th scope="col">WRITER</th>
                <th scope="col">DATE</th>
                <th scope="col">HIT</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="item : ${boardList}">
                <th th:text="${item.no}">1</th>
                <td class="text-start">
                    <span th:if="${item.available} == '0'"
                    th:class="${item.reStep > 1}?'space' : 'aaa bbb'"
                    th:classappend="'space'+(${item.reStep})">삭제된 글입니다.</span>
                    <a th:unless="${item.available} == '0'" 
                    th:class="${item.reStep > 1}?'space' : 'aaa bbb'" th:classappend="'space'+(${item.reStep})"
                    href="/board/view" th:href="@{/board/view(no=${item.no})}" th:text="${item.subject}">나는</a></td>
                <td th:text="${item.writer}">홍길동</td>
                <td th:text="${item.regDate}">2023.03.25</td>
                <td th:text="${item.hit}">1</td>
              </tr>
            </tbody>
          </table>
          <div class="bnts text-center">
            <a href="/board/write" class="btn btn-lg btn-primary">WRITE</a>
          </div>

            <div class="d-inline-block float-end">
              <form class="input-group mt-4" action="/board/list" method="GET">
                <div class="col">
                  <select class="form-select" aria-label="Default select example" name="category">
                    <option value="subject" selected>제목</option>
                    <option value="contents">내용</option>
                    <option value="writer">글쓴이</option>
                  </select>
                </div>
                  <div class="col-6">
                    <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="searchTxt">
                  </div>
                  <div class="col">
                    <button class="btn btn-primary">SEARCH</button>
                  </div>
              </form>
            </div>
    </div>
</body>
</html>