<!DOCTYPE html>
<html lang="en"
    xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{/layout/layout.html}">
<head>
    <title>BOARD WRITE</title>
</head>
<body>
    <div class="container" id="contents" layout:fragment="contents">
        <h2>MODIFY</h2>
        <form action="/board/modifyProcess" method="POST" class="mt-5">
            <div class="mb-3">
                <label for="subject" class="form-label">SUBJECT</label>
                <input type="text" class="form-control" id="subject"
                    placeholder="subject" name="subject" th:value="${replyBoardDto.subject}">
            </div>
            <div class="mb-3">
                <label for="writer" class="form-label">WRITER</label>
                <input type="text" class="form-control" id="writer"
                    placeholder="writer" name="writer" th:value="${replyBoardDto.writer}" readonly>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">PASSWORD</label>
                <input type="password" class="form-control" id="password"
                    placeholder="password" name="password">
            </div>
            <div class="mb-3">
                <label for="contents" class="form-label">CONTENTS</label>
                <textarea class="form-control" id="contents" rows="3" name="contents" th:text="${replyBoardDto.contents}"></textarea>
            </div>
            <div class="mt-5 text-center">
                <input type="hidden" name="no" id="" th:value="${param.no}">
                <button type="submit" class="btn bnt-lg btn-primary">CONFIRM</button>
            </div>
        </form>
    </div>
</body>
</html>