<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.replyboard.dao.ReplyBoardDao">
    <select id="getAllReplyBoard" resultType="ReplyBoardDto">
        SELECT ROWNUM AS NUM, B. * FROM (
            (SELECT * FROM REPLYBOARD ORDER BY REGROUP DESC, RELEVEL ASC) B
        )
    </select>

    <select id="getSelectedBoard" parameterType="Integer" resultType="replyBoardDto">
    SELECT * FROM REPLYBOARD WHERE NO = #{no}
    </select> 

    <select id="getMaxReGroup" resultType="Integer">
        SELECT NVL(MAX(REGROUP), 0) AS MAXREGROUP FROM REPLYBOARD
    </select>

    <insert id="insertBoard" parameterType="ReplyBoardDto">
        INSERT INTO REPLYBOARD VALUES (REPLYBOARD_SEQ.NEXTVAL, #{subject}, #{name}, #{password},
                                       SYSDATE, #{contents}, 1, #{reGroup}, #{reLevel}, #{reStep}, 0)
    </insert>

    <insert id="insertReplyBoard" parameterType="ReplyBoardDto">
        INSERT INTO REPLYBOARD VALUES (REPLYBOARD_SEQ.NEXTVAL, #{subject}, #{name}, #{password},
                                       SYSDATE, #{contents}, 1, #{reGroup}, #{reLevel} + 1, #{reStep} + 1, 0)
    </insert>

    <update id="updateHit" parameterType="Integer">
        UPDATE REPLYBOARD SET HIT = HIT + 1 WHERE NO = #{no}
    </update>
</mapper>