<!DOCTYPE html>
<html lang="en"
    xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{/layout/layout.html}">
<head>
    <title>MEMBER</title>
</head>
<body>
    <div class="container text-center" id="contents" layout:fragment="contents">
        <h2>JOIN</h2>
        <div class="signup-form d-inline-block">
            <form action="/member/joinProcess" method="POST">
                <div class="form-floating mt-2">
                    <input type="text" class="form-control userId" name="userId" placeholder="Id" required="required">      	
                    <label for="floatingInput">Id</label> 
                </div>
                <div class="form-floating mt-2">
                    <input type="password" class="form-control" name="userPw" placeholder="Password" required="required">
                    <label for="floatingInput">Password</label> 
                </div>
                <div class="form-floating mt-2">
                    <input type="text" class="form-control" name="userName" placeholder="Name" required="required">
                    <label for="floatingInput">Name</label> 
                </div>    
                <div class="form-floating mt-2">
                    <input type="email" class="form-control" name="userEmail" placeholder="Email" required="required">
                    <label for="floatingInput">Email</label> 
                </div>  
                <div class="form-floating mt-3 mb-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-block w-100">Register Now</button>
                </div>
            </form>
            <div class="text-center">Already have an account? <a href="/member/login">Sign in</a></div>
        </div>
    </div>
</body>
</html>