<!DOCTYPE html>
<html lang="en"
    xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{/layout/layout.html}">
<head>
    <title>MEMBER</title>
</head>
<body>
    <div class="container text-center" id="contents" layout:fragment="contents">
        <h2>LOGIN</h2>
        <div class="signin-form d-inline-block">
            <form action="/member/loginProcess" method="POST">
                <div class="form-floating mt-2">
                    <input type="text" class="form-control" name="userId" placeholder="Id" required="required">
                    <label for="floatingInput">Id</label>          	
                </div>
                <div class="form-floating mt-2">
                    <input type="password" class="form-control" name="userPw" placeholder="Password" required="required">
                    <label for="floatingInput">password</label>    
                </div>
                <div class="mt-3 mb-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-block w-100">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>