<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>board list</h1>
    <ul>
        <li th:each="boardDto : ${boardList}">
            <span th:text="${boardDto.no}" class="no">no</span>
            <a th:href="@{/board/view(no=${boardDto.no})}" th:text="${boardDto.title}" class="title">title</a>
            <span th:text="${boardDto.userName}" class="userName">userName</span>
            <span th:text="${boardDto.regDate}" class="regDate">regDate</span>
            <span th:text="${boardDto.hit}" class="hit">hit</span>
        </li>
    </ul>
    <button onclick="location.href='/board/write';">글쓰기</button>
</body>
</html>